main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    color: white;
    text-align: center;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: #00ff00;
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: #0000ff;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: #ffff00;
}
.box5 {
    width: 100px;
    height: 100px;
    background-color: #ff00ff;
}
.box6 {
    width: 100px;
    height: 100px;
    background-color: #00ffff;
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: #F5F5DC;
}
.box8 {
    width: 100px;
    height: 100px;
    background-color: #C0C0C0;
}
.box9 {
    width: 100px;
    height: 100px;
    background-color: #FFF0C0;
}