header {
    font-size: 24px;
    text-align: center;
}

footer {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
}

.container {
    width: 400px;
    height: 200px;
    position: relative;
    border: 1px solid black;
    background-color: ghostwhite;
}

.box1 {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
}

.box2 {
    /* position: relative; */
    position: absolute;
    width: 80px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;

}

/* For Mobile Phones */
@media (max-width: 600px) {
    header {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}
/* For Tablets */
@media (max-width: 768px) {
    header { 
        font-size: 20px;
    }
    footer p {
        font-size: 14px;
    }
}
/* For Small Laptops */
@media (max-width: 1024px) {
    header {
        font-size: 22px;
    }
    footer p {
        font-size: 15px;
    }
}
