header {
    font-size: 24px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    background-color:  ghostwhite;
    border: 1px solid black;
}

.grid-item {
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: gray;
    border: 2px solid black;
}

.grid-item:nth-child(6) {
    background-color: #8f8c5f;
}
footer {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
}

/* For Mobile Phones */
@media (max-width: 600px) {
    header {
        font-size: 18px;
    }

    footer p {
        font-size: 12px;
    }
}
/* For Tablets */
@media (max-width: 768px) {
    header { 
        font-size: 20px;
    }
    footer p {
        font-size: 14px;
    }
}
/* For Small Laptops */
@media (max-width: 1024px) {
    header {
        font-size: 22px;
    }
    footer p {
        font-size: 15px;
    }
}
